---
import type {MapRef} from 'react-map-gl/maplibre';

import {setRTLTextPlugin} from 'maplibre-gl';
import MapLibreMap, {Marker} from 'react-map-gl/maplibre';
import 'maplibre-gl/dist/maplibre-gl.css';

---

<section>
 <div>MAP!! </div>
</section>

<style lang="scss">
  
</style>