---
import type {MapRef} from 'react-map-gl/maplibre';

import {setRTLTextPlugin} from 'maplibre-gl';
import MapLibreMap, {Marker} from 'react-map-gl/maplibre';
import 'maplibre-gl/dist/maplibre-gl.css';

if (typeof window !== 'undefined') {
  setRTLTextPlugin(
    'https://unpkg.com/@mapbox/mapbox-gl-rtl-text@0.3.0/dist/mapbox-gl-rtl-text.js',
    false
  );
}

---

<section>
 <div>MAP!! </div>
</section>

<style lang="scss">
  
</style>