---
import Map from "./Map.astro";
---

<div id="container">
  <main>
    <section id="hero">
      <span>
        برای دسترسی به لیست سوپرمارکت‌های اطراف، لطفا ابتدا آدرس خود را وارد کنید.
      </span>
      <Map />
    </section>
  </main>
</div>

<style></style>
